body {
  font-family: Arial;
  background: white;
  margin: 0;
  padding: 20px;
}

.main {
  display: flex;
  align-items: stretch;
  gap: 20px;
  justify-content: center;
  padding: 70px;
}

.main-head {
  text-align: center;
  color: #5d0775;
  font-size: 34px;
}

.task-head {
  color: #5d0775;
}

.result-head {
  color: #5d0775;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

#in {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #6a08a2;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #51057e;
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}

.card {
  background: #fff;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(93, 7, 117, 0.3);
  border: 1px solid #5d0775;
  transition: all 0.3s ease;
}

.card h4 {
  margin: 0 0 10px 0;
  color: #5d0775;
  font-size: 18px;
}

.card .due {
  position: absolute;
  top: 15px;
  right: 18px;

  color: #5d0775;
}

.row {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.clock {
  width: 10px;
  height: 10px;
  fill: #5d0775;
}
